@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex flex-row items-center justify-center gap-3 rounded-3xl text-center font-bold transition-colors disabled:cursor-not-allowed disabled:opacity-25 xl:gap-4;
  }

  .text-btn {
    @apply flex flex-row items-center gap-3 text-base font-medium transition-colors disabled:cursor-not-allowed disabled:opacity-25 xl:gap-4;
  }

  .icon-btn {
    @apply rounded-3xl px-[18px] py-[10px] transition-colors disabled:cursor-not-allowed disabled:opacity-25;
  }

  .btn-large {
    @apply px-6 py-3 text-base;
  }

  .btn-small {
    @apply px-4 py-3 text-sm;
  }

  .btn-primary {
    @apply bg-purple text-white enabled:hover:bg-purple-light;
  }

  .btn-sec {
    @apply bg-purple/10 text-purple transition-colors enabled:hover:bg-purple/25 dark:bg-white dark:enabled:hover:bg-white;
  }

  .btn-warn {
    @apply bg-red text-white enabled:hover:bg-red-light;
  }
}

@layer utilities {
  .modal-shadow {
    @apply shadow-lg shadow-[hsla(220,40%,35%,0)];
  }

  .nav-header-bg {
    @apply bg-gradient-to-b from-white from-40% via-white/65 dark:from-grey-800 dark:via-grey-800/65;
  }

  .column-header-bg {
    @apply bg-gradient-to-b from-grey-100 from-50% via-grey-100/90 dark:from-grey-900 dark:via-grey-900/90;
  }

  .add-column-bg {
    @apply bg-gradient-to-b from-grey-200 from-50% to-grey-100/50 to-100% dark:from-grey-800 dark:to-grey-900/50;
  }

  .show-sr-only {
    @apply absolute m-0 h-auto overflow-visible whitespace-normal p-4 [clip:auto];
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge /
    scrollbar-width: none; / Firefox */
  }

  .scrollbar::-webkit-scrollbar {
    @apply h-[6px] w-[6px] transition-colors;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-grey-100 transition-colors dark:bg-grey-900;
    border-radius: 2px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-purple transition-colors dark:bg-purple-light;
    border-radius: 2px;
  }

  .hover-scrollbar {
    @apply no-scrollbar;
  }

  .hover-scrollbar:hover {
    @apply scrollbar block;
  }

  .hover-scrollbar:hover::-webkit-scrollbar {
    @apply scrollbar block;
  }

  @supports not selector(::-webkit-scrollbar) {
    .scrollbar {
      scrollbar-color: theme("colors.purple.DEFAULT") theme("colors.grey.100");
      scrollbar-width: thin;
    }
    .dark .scrollbar {
      scrollbar-color: theme("colors.purple.light") theme("colors.grey.900");
    }
  }
}
